src/main/mule/whiplash-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="whiplash-create-orders-flow" doc:id="3775615d-d49f-47a3-8474-b2340f1ddc7c" >
		<http:listener doc:name="Listener" doc:id="d4d06cfe-080d-423b-a558-45e67f9c4839" config-ref="HTTP_Listener_config" path="/api/v2/orders" allowedMethods="POST"/>
		<logger level="INFO" doc:name="INFO: START" doc:id="24249560-dcdb-40f8-85c0-87681afb7abd" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.start')&#10;var logMessage = tracePoint ++ &quot;: Whiplash has received an order&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, vars, attributes)]" />
		<file:read doc:name="Read item_masters.json" doc:id="07449d78-767a-4440-92a8-b46c3208b2fe" path="item_masters.json" outputMimeType="application/json" target="itemMasters" config-ref="File_Config">
				<ee:repeatable-file-store-stream inMemorySize="256" bufferUnit="MB" />
			</file:read>
		<ee:transform doc:name="Set Variable - orderId" doc:id="c33fd925-7d3b-4df6-903a-b9e53cd237fa" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/variables/wpl-orderId.dwl" variableName="orderId" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="df75d37e-3c0e-4e86-9180-455dfac5c841" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-create-order-response.dwl" />
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="b6d6c48b-bcc8-4612-9ea5-43ff71d3997a" config-ref="Database_Config" target="dbRes">
			<db:sql ><![CDATA[INSERT INTO wmsmock_wpl_sales_orders (data) VALUES (:data)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	data: write(payload,'application/json')
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="INFO: END" doc:id="07ebe133-5c1a-4c8a-bc66-f32710c28379" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.end')&#10;var logMessage = tracePoint ++ &quot;: Whiplash has written order to file&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, vars, attributes)]" />
		<async doc:name="Async" doc:id="da5fb137-ba1f-4c19-8876-fed06802c5c6" maxConcurrency="1">
			<ee:transform doc:name="Wait after finish flow" doc:id="c7a70c33-6fe3-4c60-88c8-3a1b3315e6bd">
				<ee:message />
				<ee:variables>
					<ee:set-variable resource="dw/variables/waitAfterFinishFlow.dwl" variableName="wait" />
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="Flow whiplash-inventory-flow" doc:id="c5afe440-17f7-4c50-a57c-12b66a33d462" name="whiplash-inventory-flow" />
		</async>
	</flow>
	<flow name="whiplash-get-orders-by-search-string-subflow" doc:id="0647291b-c4da-498c-8676-9383ff160857" >
		<http:listener doc:name="Listener" doc:id="3bda1333-2aae-4f4f-bbbe-5cb95fc74139" config-ref="HTTP_Listener_config" path="/api/v2/orders" allowedMethods="GET"/>
		<logger level="INFO" doc:name="INFO: START" doc:id="0780764d-1b57-4b97-8160-7e52ea652e79" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.start')&#10;var logMessage = tracePoint ++ &quot;: Whiplash is going to get orders by search string&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, vars, attributes)]" />
		<ee:transform doc:name="Set Variable - getOrdersBySearchStringSQLQuery" doc:id="7fc602bc-f578-4c6d-944d-b1ad7776b4c7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/variables/wpl-getOrdersBySearchStringSQLQuery.dwl" variableName="getOrdersBySearchStringSQLQuery" />
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="f04eddea-bdb1-4769-99cf-d986cbc83a70" config-ref="Database_Config">
			<db:sql ><![CDATA[#[vars.getOrdersBySearchStringSQLQuery]]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e9b0f6f6-622d-431f-b38e-668785ce7ce7" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-get-orders-by-search-string.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO: END" doc:id="9196154a-6fbb-4ac6-9317-53d5564b6f3c" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.end')&#10;var logMessage = tracePoint ++ &quot;: Whiplash returned &quot; ++ sizeOf(payload.data default []) ++ &quot; orders searched by search string&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, vars, attributes)]" />
	</flow>
	<flow name="whiplash-get-an-order-flow" doc:id="be75fde8-1192-44a2-ab49-b1a9d33dec07" >
		<http:listener doc:name="Listener" doc:id="f0d4893e-8d75-4fa0-a7bf-df600a5567ec" config-ref="HTTP_Listener_config" path="/api/v2/orders/{id}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="INFO: START" doc:id="e2a214c1-f322-426f-aa75-c83f3326d4e2" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.start')&#10;var logMessage = tracePoint ++ &quot;: Whiplash is going to get order by id&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, vars, attributes)]" />
		<ee:transform doc:name="Set Variable - id" doc:id="1d3d2d5a-58b9-43da-8bc0-9902c11ea00f">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dw/variables/wpl-attr-query-id.dwl" variableName="id" />
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="2ed7b58c-4446-4e38-887a-984394b7143d" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT data FROM wmsmock_wpl_sales_orders WHERE JSON_EXTRACT(data, "$.order_orig") = :order_orig]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	order_orig: vars.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="bc49ef67-2662-4d3b-8db4-f56004d25863" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-get-an-order.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO: END" doc:id="65db1ad6-62ef-4c46-a198-9ad31de09ea5" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.end')&#10;var logMessage = tracePoint ++ &quot;: Whiplash returned order searched by id&quot;&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, vars, attributes)]" />
	</flow>
	<flow name="whiplash-get-token-flow" doc:id="24ef67c6-dd38-4374-b292-85d40cdb696d" >
		<http:listener doc:name="Listener" doc:id="ebb82e54-848d-4fb1-a8d3-f47cadec77b8" config-ref="HTTP_Listener_config" path="/oauth/token" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="c8df1cfb-b1d4-4962-b6fa-0216c48893db" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-token-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="whiplash-get-request-code-flow" doc:id="ef9e5df8-03d8-4f7f-94b4-142028d31a51" >
		<http:listener doc:name="Listener" doc:id="eae4d42f-d01f-4846-85a3-d2a51fe50f89" config-ref="HTTP_Listener_config" path="/oauth/authorize" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.redirect_uri]" doc:name="Set Variable - callbackURI" doc:id="e6c06eea-3fc4-47f4-97a3-14cd046be9cf" variableName="callbackURI"/>
		<ee:transform doc:name="Set Variable - parsedCallbackURI and codeRequested" doc:id="4243ffbe-e804-4a38-814c-6408e61f8d89" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/variables/wpl-parsed-callback-uri.dwl" variableName="parsedCallbackURI" />
				<ee:set-variable resource="dw/variables/wpl-codeRequested.dwl" variableName="codeRequested" />
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request Whiplash callback" doc:id="787c30b3-61ec-4c24-9fbd-6ee8702b0d59" config-ref="s-whiplash_HTTP_Request_configuration" path="#[vars.parsedCallbackURI.path]" target="httpRes">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"code": vars.codeRequested
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="ad94ad7d-b108-4559-9616-fd204e527f4c" >
			<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-get-request-code-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="whiplash-inventory-flow" doc:id="6bb6c9a8-b8f7-40da-b758-32b43ef85c4b" >
		<set-variable value="#[payload.order_orig]" doc:name="Set Variable - orderNumber" doc:id="500e834c-82fe-45ff-9940-a590df4cca5f" variableName="orderNumber" />
		<foreach doc:name="For Each" doc:id="e43fd3d3-706a-4689-8665-db3f2dee329e" collection="#[payload.order_items]">
			<ee:transform doc:name="Set Variable - itemSku and itemQuantity" doc:id="e4eb12c9-2ce2-4492-a4c9-d71a9b13e258" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable resource="dw/varibles/pvx-itemQuantity.dwl" variableName="itemQuantity" />
					<ee:set-variable resource="dw/varibles/pvx-itemSku.dwl" variableName="itemSku" />
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Set Variable - inventoryBody and inventoryQueryParams" doc:id="f481c398-4107-4c77-abf0-697e1063d6ea">
			<ee:message>
					<ee:set-payload resource="dw/transformations/wpl-inventoryBody.dwl" />
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/variables/wpl-inventoryQueryParams.dwl" variableName="inventoryQueryParams" />
			</ee:variables>
		</ee:transform>
			<flow-ref doc:name="Flow whiplash-ats-subflow" doc:id="77501c3f-d908-4d0a-aa0c-c24980ad6284" name="whiplash-ats-subflow"/>
			<flow-ref doc:name="Flow whiplash-status-change-subflow" doc:id="3e7f6805-7a73-48c7-9474-a11fd8700701" name="whiplash-status-change-subflow"/>
		</foreach>
		<flow-ref doc:name="Flow whiplash-fulfillment-subflow" doc:id="2ae4d29a-28b8-425f-9b5d-cfccd4dc9c9a" name="whiplash-fulfillment-subflow"/>
	</sub-flow>
	<sub-flow name="whiplash-ats-subflow" doc:id="a6801db6-55fd-4803-8402-79132f1f0af1" >
		<ee:transform doc:name="Set Variable - correlationId" doc:id="e6a6a8f2-61cd-4d93-a223-d6ba7be8c56a">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dw/variables/correlationId.dwl" variableName="correlationId" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set Variable - inventoryATSBody" doc:id="7ec9800d-6740-4914-8a59-ce3a1de68fb6">
				<ee:message>
				<ee:set-payload resource="dw/transformations/wpl-inventoryATSBody.dwl" />
				</ee:message>
				<ee:variables>
				</ee:variables>
			</ee:transform>
		<logger level="INFO" doc:name="INFO: BEFORE_REQUEST" doc:id="ec2a1af6-a78f-48a6-8c64-2fa7565d1676" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.beforeRequest')&#10;var logMessage = tracePoint ++ &quot;: Whiplash is sending an ATS inventory request - &quot; ++ (vars.orderNumber default &quot;&quot;) ++ &quot;-&quot; ++ vars.itemSku&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, (vars - &quot;rootMessage&quot;), attributes)]" />
		<http:request method="POST" doc:name="Request inventory ATS" doc:id="0cd11f49-d2a8-48ca-b68b-1b57bb91c2d9" config-ref="blazeMeter_HTTP_Request_configuration" path="/australia/p-inventory-whip/v1/api/inventory" target="httpRes">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-Correlation-ID" : vars.correlationId default ""
}]]]></http:headers>
			<http:query-params><![CDATA[#[vars.inventoryQueryParams]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="INFO: AFTER_REQUEST" doc:id="a4b45f98-82ec-4d5d-9f01-cd0f4088065e" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.afterRequest')&#10;var logMessage = tracePoint ++ &quot;: Whiplash has sent an ATS inventory request - &quot; ++ (vars.orderNumber default &quot;&quot;) ++ &quot;-&quot; ++ vars.itemSku&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, (vars - &quot;rootMessage&quot;), attributes)]" />
		<ee:transform doc:name="Wait between requests" doc:id="c69bb05c-14ea-474c-b944-ae13ec77fe85">
				<ee:message />
				<ee:variables>
					<ee:set-variable resource="dw/variables/waitBetweenRequests.dwl" variableName="wait" />
				</ee:variables>
			</ee:transform>
	</sub-flow>
	<sub-flow name="whiplash-status-change-subflow" doc:id="37f8bf49-166d-4cfe-a03d-d30435be49c4">
		<ee:transform doc:name="Set Variable - correlationId" doc:id="4d77a682-c076-4dfe-b113-f850eb8deeb5">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dw/variables/correlationId.dwl" variableName="correlationId" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set Variable - inventoryStatusChangeBody" doc:id="fe4da152-fdc0-4af6-b487-36d34818aeb4">
				<ee:message >
				<ee:set-payload resource="dw/transformations/wpl-inventoryStatusChangeBody.dwl" />
			</ee:message>
				<ee:variables>
				</ee:variables>
			</ee:transform>
		<logger level="INFO" doc:name="INFO: BEFORE_REQUEST" doc:id="6eeccce9-6f81-42c6-8026-8a63f07c473d" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.beforeRequest')&#10;var logMessage = tracePoint ++ &quot;: Whiplash is sending an ATS inventory request - &quot; ++ (vars.orderNumber default &quot;&quot;) ++ &quot;-&quot; ++ vars.itemSku&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, (vars - &quot;rootMessage&quot;), attributes)]" />
		<http:request method="POST" doc:name="Request inventory status change" doc:id="c921c688-8180-40ae-8d50-ee79cf23f53f" config-ref="blazeMeter_HTTP_Request_configuration" path="/australia/p-inventory-whip/v1/api/inventory" target="httpRes">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-Correlation-ID" : vars.correlationId default ""
}]]]></http:headers>
			<http:query-params><![CDATA[#[vars.inventoryQueryParams]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="INFO: AFTER_REQUEST" doc:id="402769ad-3026-4ae4-bbea-789acd097925" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.afterRequest')&#10;var logMessage = tracePoint ++ &quot;: Whiplash has sent a status change inventory request - &quot; ++ (vars.orderNumber default &quot;&quot;) ++ &quot;-&quot; ++ vars.itemSku&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, (vars - &quot;rootMessage&quot;), attributes)]" />
		<ee:transform doc:name="Wait between requests" doc:id="f15938b2-e0e5-41fe-95b4-52f0b84be68b">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dw/variables/waitBetweenRequests.dwl" variableName="wait" />
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="whiplash-fulfillment-subflow" doc:id="be167a5c-2bea-4855-8b1d-df40e28c9cb2">
		<ee:transform doc:name="Set Variable - correlationId" doc:id="4aa3e86c-e591-4b3a-bbb7-f96b70d44b5f">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dw/variables/correlationId.dwl" variableName="correlationId" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set Variable - fulfillmentQueryParams and fulfillmentBody" doc:id="ecfa8590-ffcf-40a1-838d-a6882dc0dfa7">
			<ee:message>
				<ee:set-payload resource="dw/transformations/wpl-fulfillmentBody.dwl" />
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/variables/wpl-fulfillmentQueryParams.dwl" variableName="fulfillmentQueryParams" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="INFO: BEFORE_REQUEST" doc:id="f1f5c727-ea99-4c09-8687-4578f3209cf8" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.beforeRequest')&#10;var logMessage = tracePoint ++ &quot;: Whiplash is sending a fulfillment request - &quot; ++ (vars.orderNumber default &quot;&quot;)&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, vars, attributes)]" />
		<http:request method="POST" doc:name="Request fulfillment" doc:id="256bad2a-5015-4722-a0ee-82b27105608a" config-ref="blazeMeter_HTTP_Request_configuration" path="/Australia/p-forders-pub/v1/api/orders" target="httpRes">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-Correlation-ID" : vars.correlationId default ""
}]]]></http:headers>
			<http:query-params><![CDATA[#[vars.fulfillmentQueryParams]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="INFO: AFTER_REQUEST" doc:id="0b46c688-2f8e-4903-8d24-dafd0e68181b" message="#[%dw 2.0&#10;import modules::CustomLoggerModule&#10;output application/json&#10;var priority = p('json.logger.priority.info')&#10;var flowName = flow.name&#10;var tracePoint = p('json.logger.tracePoint.afterRequest')&#10;var logMessage = tracePoint ++ &quot;: Whiplash has sent a fulfillment request - &quot; ++ (vars.orderNumber default &quot;&quot;)&#10;---&#10;CustomLoggerModule::generateLogger(priority, flowName, tracePoint, logMessage, payload, null, correlationId, vars, attributes)]" />
	</sub-flow>
</mule>
